<div class="text-center">
  <h1>Whealth</h1>
  <p>Is an app that pays you to go to the gym.</p>
</div>


<div>
  <% if @current_user %>
    <%= @current_user.email %>
  <% end %>
  <% if @current_user %>
    <a href="/users/show"><%=@current_user.name%></a>
  <% end %>
</div>
