
<h1 class="col-xs-6 col-xs-offset-3" id="home_page_title"><span class="orange">get paid</span> to work out and <span class="orange">save</span> on
your gym membership</h1>

<div class="row" id="home_icon_row">
  <div class="col-xs-12 col-md-2 col-md-offset-3">
    <%= image_tag 'SignUpIcon.svg', id: 'home_svg' %>
    <br>
    <h3>1. Sign Up</h3>

    <h5>Find your gym and sign up through whealth.</h5>
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-0">
    <%= image_tag 'Stretchicon.svg', id: 'home_svg' %>
    <br>
    <h3>2. Work Out</h3>

    <h5>Every time you go to the gym, you earn a $1 rebate on your membership.</h5>
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-0">
    <%= image_tag 'RecieveCoins.svg', id: 'home_svg' %>
    <br>
    <h3>3. Get Paid</h3>

    <h5>At the end of the month, you can get the money you have earned back as cash, or have it automatically applied to next month.</h5>
  </div>

</div>
<br>
<br>
<br>
<div class="row">
  <h2 class="text-center">So how does it work?</h2>
  <br>
  <div class="col-xs-6 col-xs-offset-3">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum repudiandae suscipit, placeat quas, dolorem quo magni quasi vel cumque ipsa temporibus aspernatur eaque, nihil aliquam, provident adipisci alias cupiditate ex?
  </div>
  <br>
  <br>
  <button id="sign_up"><a href="/signup">Sign Up!</a></button>
</div>
