
<h1 class="col-xs-6 col-xs-offset-3" id="home_page_title"><span class="orange">Get paid</span> to work out and <span class="orange">save</span> on
your gym membership</h1>

<div class="row" id="home_icon_row">
  <div class="col-xs-12 col-md-2 col-md-offset-3">
    <%= image_tag 'SignUpIcon.svg', id: 'home_svg' %>
    <br>
    <h3>1. Sign Up</h3>

    <h5>Find your gym and sign up through whealth.</h5>
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-0">
    <%= image_tag 'Stretchicon.svg', id: 'home_svg' %>
    <br>
    <h3>2. Work Out</h3>

    <h5>Every time you go to the gym, you earn a $1 rebate on your membership.</h5>
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-0">
    <%= image_tag 'RecieveCoins.svg', id: 'home_svg' %>
    <br>
    <h3>3. Get Paid</h3>

    <h5>At the end of the month, you can get the money you have earned back as cash, or have it automatically applied to next month.</h5>
  </div>

</div>
<br>
<br>
<br>
<div class="row">
  <h2 class="text-center">So how does it work?</h2>
  <br>
  <div class="col-xs-6 col-xs-offset-3">
    Whealth works with local gyms to give you a way to save money on your gym membership. It's simple - the more you go, the less you pay.
  <br>
  <br>
    You find your gym on Whealth, sign up, and agree to a montly rate (varies gym to gym).
  <br>
  <br>
    Every day you go, you earn $1. At the end of the month you can choose to have the money you earned put towards your next bill, or sent to your bank account.
  </div>
  <br>
</div>
  <button id="sign_up"><a href="/signup">Sign Up!</a></button>
