<div class="text-center">
  <h1><span class="orange">w</span>health</h1>
  <p>earn back your gym membership</p>
</div>

<div class="row">
  <div class="col-xs-12 col-md-2 col-md-offset-2 homeImg1">
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-1 homeImg2">
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-1 homeImg3">
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-2 text-center">
    <h3>1. Sign Up</h3>
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-1 text-center">
    <h3>2. Work Out</h3>
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-1 text-center">
    <h3>3. Get Paid</h3>
  </div>
</div>

