<%#<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>%>

<div class="col-xs-8 col-xs-offset-2">
  <h1>Login</h1>
  <div class="">
    <%= bootstrap_form_for :user do |f| %>
      <%= f.email_field :email, placeholder: "Enter your email" %>
      <%= f.password_field :password, placeholder: "Enter your password" %>
      <%= f.submit "Login", class: 'btn default-btn'%>
    <% end %>
  </div>
</div>