<a href="/">Home</a>
<div class="text-center">
  <h1>So you want to be a clown?</h1>
  <div class="container text-left">
    <%= bootstrap_form_for :user do |p| %>
      <%= p.collection_select :paycycle, @paycycles, :id, :name %>
      <%= p.collection_select :gym_id, @gyms, :id, :name %>
      <%= p.primary "Submit" %>
    <% end %>
  </div>
</div>
