<div class="text-center">
  <h1>Edit My Gym Info</h1>
  <div class="container text-left">
    <%= bootstrap_form_for :user do |p| %>
      <%= p.collection_select :paycycle, @paycycles, :id, :name %>
      <%= p.collection_select :gym_id, @gyms, :id, :name %>
      <%= p.primary "Submit", class: 'btn default-btn' %>
      <a href="/users/show" class="btn default-btn">Go back</a> 
    <% end %>
  </div>
</div>
