body {
    background-color: #205A66;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
}

.filledDate {
    background-color: red;
}

.graphs {
    min-height: 500px;
    text-align: center;
}

#graphBtn {
    position: absolute;
    bottom: 0px;
    left: 38%
}

.toggle {
    margin-bottom: 20px;
    background-color: #FFA24F;
    border-color: #FFA24F;
    font-size: 30px;
}

.toggle:focus {
    outline: none;
    border-color: #FFA24F;
}

.toggle i {
    padding-left: 30px;
    padding-right: 30px;
}

.toggle:active {
    background-color: #FFA24F;
    border-color: #205A66;
    outline: none;
}

.toggle:hover {
    background-color: #205A66;
}

.homeImg1 {
    height: 400px;
    background-image: url("http://dandellscreations.com/wp-content/uploads/2015/01/signup.jpg");
    background-position: center;
    background-size: cover;
}
.homeImg2 {
    height: 400px;
    background-image: url("https://images.stockfreeimages.com/797/sfi/free_7972896.jpg");
    background-position: center;
    background-size: cover;
}
.homeImg3 {
    height: 400px;
    background-image: url("http://bagtaxscam.com/wp-content/uploads/2014/07/money-changing-hands-crop-900x506.jpg");
    background-position: center;
    background-size: cover;
}
.orange {
    color: #FFA24F;
}

.navbar {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
}
.navbar-brand {
    font-size: 40px;
}
.blue {
    color: #205A66;
}
#white {
    color: white;
}
#white-brand {
    color: white;
}
#white li a {
    color: white
}

input {
    color: black
}

.btn-profile {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  background-color: transparent;
}

.btn-profile:hover {
  border: 2px solid #FFA24F;
  color: white;
}

.default-btn {
    background-color: #205A66;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

.default-btn:hover {
    color: #205A66;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}


#default-btn {
    border-radius: 8px;
    background-color: #205A66;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

#default-btn:hover {
    border-radius: 8px;
    color: #205A66;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

ul#white {
    margin-right: 20px;
}


#white #default-btn {
    border-radius: 8px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 9px;
    margin-right: 20px;
}

#white #default-btn:hover {
    border-radius: 8px;
    color: #205A66;
}

.white {
  color: white;
}

#home_svg {
    display: block;
    margin: 0 auto;
    height: 100px;
}

#home_icon_row {
    margin-top: 280px;
}

#home_page_title {
    margin-top: 40px;
}

#sign_up {
    display: block;
    margin: 60px auto;
    padding: 5px 90px 5px 90px;
    background-color: #FFA24F;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 2em;
}

#sign_up a {
    color: white;
}

li#default-btn {
    margin-right: 20px;
}

.btn-profile:focus {
    outline: none;
}

#nav_logo {
    width: 200px;
}

span.calendar-title {
    color: #205A66;
}

h1 strong {
    font-size: 1.5em;
    margin-right: 20px;
}

h2 strong {
    font-size: 1.75em;
}

.move-right {
    margin-left: 90px;
}

#selected {
    border-color: #FFA24F;
}